.servicios-container {
    background-color: #152833;
    color: white;
    padding: 4rem 2rem;
    min-height: 100vh;
}

.servicios-header {
    text-align: center;
    margin-bottom: 4rem;
}

.servicios-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.servicios-header p {
    font-size: 1.2rem;
    color: #ffffff;
    opacity: 0.9;
}

.servicios-content {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    max-width: 1200px;
    margin: 0;
    margin-left: 150px;
    margin-right: 150px;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.servicios-list {
    flex: 1;
}

.servicio-item  {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0;
    transform: translateX(-100%);
}

.servicio-item.animate {
    animation: slideFromLeft 0.8s ease-out forwards;
}

.servicio-item:nth-child(1) p {
    opacity: 0.6;
}

.servicio-item:not(:first-child) p {
    opacity: 0.4;
}

.servicio-item:last-child {
    border-bottom: none;
}

.servicio-item h2 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    opacity: 0.6;
    font-weight: 600;

}

.servicio-item-primero h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-weight: bold;
}

.servicio-item-primero p {
    color: #ffffff;
    opacity: 0.8;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 600;
}

.servicio-item.desplegado {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 1;
    /* Hereda estilos de .servicio-item-primero */
}
.servicio-item.desplegado h2 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    opacity: 1;
}
.servicio-item.desplegado p {
    color: #ffffff;
    opacity: 0.8;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 600;
}

.servicios-image {
    flex: 1;
    display: flex;
    align-items: center;
}

.servicios-image img {
    width: 600px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .servicios-content {
        flex-direction: column;
    }

    .servicios-header h1 {
        font-size: 2.5rem;
    }

    .servicios-image {
        order: -1;
        margin-bottom: 2rem;
    }
}